p {
  margin: 0 !important;
}
.d-flex {
  display: flex;
}
.dec-none {
  list-style: none;
}
.p-3 {
  padding: 1rem;
}
.link {
  text-decoration: none;
  font-weight: bold;
  text-decoration: underline;
}
.link:hover {
  color: rgb(57, 140, 212);
}
